@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.h1-font {
  font-family: Linksans Linksansvf, sans-serif;
  font-size: 5.28vw;
  font-weight: 800;
  line-height: 107%;
}

.section-1-p {
  font-variation-settings: "wght" 418;
  margin-bottom: 0;
  font-family: Linksans Linksansvf, sans-serif;
  font-size: 1.29vw;
  font-weight: 400;
  line-height: 150%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}